<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
	<suite-files>
		<suite-file path="./src/test/resources/testng-customer.xml" />
	</suite-files>
	<test name="customer">
		<groups>
			<run>
				<include name="customer" />
			</run>
		</groups>
	</test>
</suite>

